.services-container {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.service{
    margin: 0 90px;
    font-size: 50px;
    color: #004aad;
}

.consultation{
    width: 500px;
    height: 550px;
    margin-left: 45px;
    box-shadow: inset 0 0 1px #000000;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.consultation-img{
    width: 100%;
    margin-left: 5px;
}
.product-audit{
    width: 500px;
    height: 550px;
    margin-left: 45px;
    box-shadow: inset 0 0 1px #000000;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.product-audit-img{
    width: 100%;
    margin-left: 5px;
}

.digital-markating{
    width: 500px;
    height: 550px;
    margin-left: 45px;
    box-shadow: inset 0 0 1px #000000;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.digital-markating-img{
    width: 100%;
    margin-left: 5px;
}

.solution{
    width: 500px;
    height: 550px;
    margin-left: 45px;
    box-shadow: inset 0 0 1px #000000;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.solutions-img{
    width: 100%;
    height: auto;
    margin-left: 5px;
}
.consultation h2{
    margin-top: 10px;
    font-size: 40px;
    color: black;
}
.consultation p{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.product-audit h2{
    margin-top: 10px;
    font-size: 40px;
    color: black;
}
.product-audit p{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.digital-markating h2{
    margin-top: 10px;
    font-size: 35px;
    color: black;
}
.digital-markating p{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.solution h2{
    margin-top: 10px;
    font-size: 35px;
    color: black;
}
.solution p{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}