.header{
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;    
}

.header .header-contents{
    margin-right: 250px;
    margin-bottom: 50px;
    max-width: 600px;
    
}

.header .header-contents h1{
    font-size: 60px;
    color: #004aad;
    margin-bottom: 20px;
}

.header .header-contents p{
    font-size: 35px;
    margin-top: 20px;
    line-height: 1.5;
    color: black;
    max-width: 600px;
    margin-top: 30px;
}

.button{
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.constructor1{
    height: 500px;
    width: auto;
    margin-left: 100px;
    margin-bottom: 90px;
}
.header .button:hover{
    background-color: #ffff00;
}